{
  'extends': [
    'eslint:recommended',
    'plugin:jsx-a11y/recommended'
  ],
  'rules': {
    block-scoped-var: 2,
    complexity: [2, {'max': 20}],
    comma-style: [2, 'last'],
    eqeqeq: 2,
    jsx-quotes: [2, 'prefer-double'],
    max-depth: [2, 4],
    max-len: [2, 120],
    no-alert: 2,
    no-console: 0,
    no-else-return: 2,
    no-eq-null: 2,
    no-lonely-if: 2,
    one-var: 0,
    prefer-const: 2,
    prefer-template: 2,
    semi: [2, 'always'],
    sort-vars: [2],
    spaced-comment: 2,
    valid-jsdoc: 0,
    valid-typeof: 2,
    vars-on-top: 2,

    'react/display-name': [0, { ignoreTranspilerName: false }],
    'react/forbid-prop-types': [0, { forbid: ['any', 'array', 'object'] }],
    'react/jsx-boolean-value': [2, 'never'],
    'react/jsx-curly-spacing': [2, 'never', { allowMultiline: true }],
    'react/jsx-handler-names': [0, {
      eventHandlerPrefix: 'handle',
      eventHandlerPropPrefix: 'on',
    }],
    'react/jsx-indent-props': [2, 4],
    'react/jsx-key': 0,
    'react/jsx-max-props-per-line': [0, { maximum: 1 }],
    'react/jsx-no-bind': [2, {
      ignoreRefs: true,
      allowArrowFunctions: true,
      allowBind: false,
    }],
    'react/jsx-no-duplicate-props': [0, { ignoreCase: false }],
    'react/jsx-no-literals': 0,
    'react/jsx-no-undef': 2,
    'react/jsx-pascal-case': [2, {
      allowAllCaps: true,
      ignore: [],
    }],
    'react/sort-prop-types': [0, {
      ignoreCase: false,
      callbacksLast: false,
      requiredFirst: false,
    }],'react/jsx-sort-prop-types': 0,
    'react/jsx-sort-props': [0],
    'react/jsx-uses-react': [2],
    'react/jsx-uses-vars': 2,
    'react/no-danger': 0,
    'react/no-deprecated': [2],
    'react/no-did-mount-set-state': [2],
    'react/no-did-update-set-state': [2],
    'react/no-direct-mutation-state': 0,
    'react/no-is-mounted': 2,
    'react/no-multi-comp': [2, { ignoreStateless: true }],
    'react/no-set-state': 0,
    'react/no-string-refs': 2,
    'react/no-unknown-property': 2,
    'react/prefer-es6-class': [2, 'always'],
    'react/prefer-stateless-function': 2,
    'react/prop-types': [2, { ignore: [], customValidators: [] }],
    'react/react-in-jsx-scope': 2,
    'react/require-render-return': 2,
    'react/self-closing-comp': 2,
    'react/jsx-tag-spacing': [2, {
      'closingSlash': 'never',
      'beforeSelfClosing': 'always',
      'afterOpening': 'never'
    }],
    'react/sort-comp': [2, {
      order: [
        'static-methods',
        'lifecycle',
        'everything-else',
        '/^render.+$/',
        'render'
      ],
    }],
    'react/jsx-wrap-multilines': [2, {
      declaration: true,
      assignment: true,
      return: true
    }],
    'react/wrap-multilines': 0, 
    'react/jsx-first-prop-new-line': [0, 'multiline'],
    'react/jsx-equals-spacing': [2, 'never'],
    'react/jsx-indent': [2, 4],
    'react/jsx-no-target-blank': 2,
    'react/jsx-filename-extension': [2, { extensions: ['.jsx', '.js'] }],
    'react/jsx-no-comment-textnodes': 2,
    'react/no-comment-textnodes': 0, 
    'react/no-render-return-value': 2,
    'react/require-optimization': [0, { allowDecorators: [] }],
    'react/no-find-dom-node': 2,
    'react/forbid-component-props': [0, { forbid: [] }],
    
    'react/no-danger-with-children': 0,

    'jsx-a11y/label-has-for': [ 2, {
          'components': [ 'Label' ],
          'required': {
              'some': [ 'nesting', 'id' ]
          },
          'allowChildren': false
      }]
  },
  'env': {
    browser: true,
    node: true,
    jasmine: true,
    jest: true,
    es6: true
  },
  'globals':{
    'React': true,
    'TestUtils': true,
    'routerHelper': true,
    'fetch': true
  },
  'parser': 'babel-eslint',
  'plugins': [
    'react',
    'jsx-a11y'
  ]
}
